.log{
    color: white;
    padding-top: 45px;
}
.title{
    font-size: 30px;
    font-family: monospace;
}
.result-box{
    width: 500px;
    height: 100px;
    background-color: black;
}
.result{
    color: white;
    font-family: monospace;
    text-align: right;
    padding-top: 45px;
    font-size: 50px;
    height: 10px;
}
.digit-button{
    background-color: #d8d9db;
    font-size: 50px;
    width: 125px;
    height: 110px;
    border: 1px solid black;
    font-family: monospace;
}
.sign-button{
    background-color: #df974c;
    font-size: 50px;
    width: 125px;
    height: 110px;
    border: 1px solid black;
    font-family: monospace;
    color:white;
}
.double-button{
    background-color: #d8d9db;
    width: 250px;
    height: 110px;
    font-size: 50px;
    border: 1px solid black;
    font-family: monospace;
}
.triple-button{
    cursor: pointer;
    background-color: #d8d9db;
    width: 375px;
    height: 110px;
    font-size: 50px;
    border: 1px solid black;
    font-family: monospace;
}
.font{
    font-family: monospace;
}
.row{
    display: flex;
    align-content: stretch;
}
.calculator{
    display: flex;
    flex-direction: column;
}
.calc * :hover{
    opacity: 0.7;
}